<section class="p-3 bg-orange-300/80 space-y-4 mb-4 lg:w-11/12 lg:p-7 lg:rounded lg:mx-auto">
  <h1 class="text-3xl tracking-widest text-center md:text-4xl">
    ADOPT DON'T SHOP!
  </h1>
  <p>
    At Cat Haven, a dedicated animal rescue organization, the mission is simple
    yet profound: to give cats a second chance at life. Located in Shenton Park,
    Cat Haven works tirelessly to rescue, care for, and find loving homes for
    cats in need. Whether they come from shelters, the streets, or from owners
    who can no longer care for them, these cats are given a safe haven where
    they are nurtured until they are ready for adoption.
  </p>
  <h1 class="text-2xl text-center md:text-3xl">
    The Importance of Rescuing Animals
  </h1>
  <ul>
    <li>
      Saving Lives: Shelters and rescues like Cat Haven are filled with cats of
      all ages, sizes, and personalities, many of whom are at risk of being
      euthanized. By adopting, you are directly saving a cat's life and offering
      them a future they might not have had.
    </li>
    <li>
      Giving Cats a Second Chance: Many rescue cats have faced challenges,
      whether it’s abandonment, neglect, or simply bad luck. When you adopt,
      you're giving these cats a fresh start—helping them heal and providing the
      love and stability they need.
    </li>
    <li>
      Finding Your Perfect Companion: Whether you're looking for a playful
      kitten or a calm adult cat, rescue organizations like Cat Haven have cats
      of all personalities, sizes, and breeds. With their expertise, they can
      help match you with a cat that fits your lifestyle.
    </li>
  </ul>
  <div class="lg:flex items-center lg:w-fit lg:mx-auto">
    <p class="ml-6 md:text-xl">
      Visit Cat Haven's website <a
        class="text-lg font-medium tracking-wide md:text-xl"
        target="_blank"
        href="https://www.cathaven.com.au/?srsltid=AfmBOoonBrVQzDnKMQAU-JW7c5ncEb3tBLsY6SsZ5G_pYwxz8eQMQpyc"
        >here</a>
    </p>
    <img class="md:w-[300px] md:mx-auto" src="/imgs/cathaven.png" alt="" />
  </div>
</section>
