---
import CatHaven from "./CatHaven.astro"
---
   <section class="">
      <h1 class="text-2xl text-center">Welcome to meowMania!</h1>
      <article class="mb-10 p-5 lg:w-4/5 lg:mx-auto">
        <p class="text-lg mb-6">
          My name is Caitlin and I love cats! So I decided to create this site
          for all my fellow cat lovers out there.
        </p>
        <a
          class="border rounded w-fit p-2 text-xl tracking-widest"
          href="/blog">View Blog!</a
        >
      </article>
      <CatHaven />
    </section>