<article class="w-11/12 mx-auto">
  <h1>Adopting a Cat!</h1>
  <p>
    There are a few things you should considering before making the big decision
    to bring a new cat into your life
  </p>
  <ul>
    <li>
      Cats can live 15-20 years—are you ready for that long-term responsibility?
    </li>
    <li>Do you rent? If so, does your lease allow pets?</li>
    <li>
      Can you afford regular expenses like food, litter, and vet check-ups?
    </li>
    <li>
      Do you want a kitten or an adult cat? (Kittens need more attention and
      training.)
    </li>
    <li>
      Keeping cats indoors is safer, but they need enrichment (scratching posts,
      toys, window perches).
    </li>
    <li>And much more!</li>
  </ul>
  <p>
    Cat Haven has a fantastic info booklet that anyone thinking about adopting
    should read through!
  </p>
  <a
  class="text-xl tracking-wider"
    target="_blank"
    href="https://cdn.shopify.com/s/files/1/0406/3264/7835/files/CAT47CatHavenBookletAdoption20ppV32017email.pdf?v=1595831393"
    >It can be found here</a
  >
</article>
